app-not-found {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

app-not-found app-section-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;               
  justify-content: center; 
}